			<div id="page-meta" class="t30">
				<p>
					<!-- Look the author details up from the site config. -->
					{% assign author = site.data.authors[page.author] %}
					<!-- Output author details if some exist. -->
					{% if author %}
					<span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name" class="pr20 icon-edit"><a href="{{ author.url }}" target="_blank"> {{ author.name }}</a></span>
				</span>
				{% endif %}

				{% if page.date %}
				<time class="icon-calendar pr20" datetime="{{ page.date | date: "%Y-%m-%d" }}" itemprop="datePublished"> {{ page.date | date: "%Y-%m-%d" }}</time>
				{% endif %}

				{% if page.categories %}<span class="icon-archive pr20"> {{ page.categories | join: ' · ' | upcase }}{% endif %}</span>
				<br />
				<span class="pr20">{% for tag in page.tags %}<span class="icon-price-tag pr10"><a href="{{ site.url }}/tags/#{{tag}}" target="_blank"> {{tag}}</a></span> {% endfor %}</span>
				</p>
				<a href="https://twitter.com/share" class="twitter-share-button" data-via="roelverhaak" data-size="small" data-dnt="true">Tweet</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

			<div id="post-nav" class="row">
				
				{% if page.previous.url %} 
				<div class="small-5 columns"><a class="fa fa-backward" href="{{ site.url }}{{page.previous.url}}"> {{page.previous.title}}</a></div><!-- /.small-4.columns -->
				{% endif %} 
				<div class="small-2 columns text-center"><a class="fa fa-archive" href="{{ site.url }}/blog/archive/" title="Blog {{ site.data.language.archive }}"> {{ site.data.language.archive }}</a></div><!-- /.small-4.columns -->
				{% if page.next.url %} 
				<div class="small-5 columns text-right"><a href="{{ site.url }}{{page.next.url}}"> {{page.next.title}} <i class="fa fa-forward"></i></a></div><!-- /.small-4.columns -->
				{% endif %}
			</div>
			</div><!--  /.page-meta -->