<aside>
	<div class="panel radius">
<center>
<div class="mytweets">
<a class="twitter-timeline" 
  data-dnt="true" 
  href="https://twitter.com/SBAmin/lists/verhaak-lab" 
  data-widget-id="622636078554451968"
  width="600"
  height="450"
  data-chrome="noheader nofooter noborders noscrollbar transparent">Tweets from Verhaak Lab</a>
</div>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</center>
</div>
</aside>
