/* TOC

- Table of Contents (Index)
- Panel
- Shadows
- Alerts
- Breadcrumb
- Button
- Side-Nav
- Accordion
- Lazy Load XT

*/



/* Table of Contents (Index)
------------------------------------------------------------------- */

#toc ul,
#toc ul ul,
#toc ul ul ul, {
    list-style: none;
    margin-left: 30px;
}
#toc ul {
    margin-left: 0;
    margin-top: $spacing-unit;
}



/* Panel
------------------------------------------------------------------- */

.border-dotted {
  border: 1px dotted $grey-5;
  padding: rem-calc(20);
  border-radius: $global-radius;
}



/* Shadows
------------------------------------------------------------------- */

.shadow-no      {text-shadow: rgba(0, 0, 0, 0) 0 0 0;}
.shadow-black   {text-shadow: rgba(0, 0, 0, 0.498039) 0px 1px 2px;}
.shadow-white   {text-shadow: rgba(255, 255, 255, 0.498039) 0px 1px 2px;}



/* Alerts
------------------------------------------------------------------- */

.alert-box {
  font-family: $font-family-sans-serif;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.9);
} 
  .alert-box p {
    margin-bottom: 0;
  } 
  .alert-box a {
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
    color: #fff;
    border-bottom: 1px dotted #fff;
  }
  .alert-box a:hover {
    border-bottom: 1px solid #fff;
  }
  .alert-box.terminal {
    background: $grey-12; 
    color: #fff; 
    border-color: scale-color($grey-12, $lightness: -14%);
    font-family: $font-family-monospace;
  }
  .alert-box.terminal::before {
    content: "$ ";
    color: $ci-6;
  }
  .alert-box.text {
    background-color: $grey-2;
    text-shadow: 0px 0px 0px rgba(0,0,0,0.9);
    border-color: scale-color($grey-2, $lightness: -14%);
    color: $grey-12;
  }



/* Button
------------------------------------------------------------------- */

button, .button         { letter-spacing: 1px; }
  button.grey, .button.grey { background: $grey-10; }
  button.grey:hover,
  button.grey:focus,
  .button.grey:hover,
  .button.grey:focus      { background-color: $grey-16; }



/* Side-Nav
------------------------------------------------------------------- */

.side-nav li.title { text-transform: uppercase;}
.side-nav li { border-top: 1px solid $grey-3;}
.side-nav li a:not(.button) { border-bottom: 0; padding: 0.4375rem 0rem; }
.side-nav li a:not(.button):hover, .side-nav li a:not(.button):focus { background: $grey-1; }

.homepage p { margin: 0; padding: 0; color: $grey-10; }



/* Accordion
------------------------------------------------------------------- */

dl.accordion  { border-top: 1px solid $grey-2;  }
.accordion dd   { border-bottom: 1px solid $grey-2;  }
dd.accordion-navigation span { padding-right: 12px; }
dd.accordion-navigation span:before { content: "\F107" }
dd.accordion-navigation.active span:before { content: "\F105" }
dd.accordion-navigation.active span:before { content: "\F105" }



/* Lazy Load XT
------------------------------------------------------------------- */

/*! Lazy Load XT v1.0.6 2014-11-19
 * http://ressio.github.io/lazy-load-xt
 * (C) 2014 RESS.io
 * Licensed under MIT */
img.lazy {
  display: none;
}
.lazy-hidden {
    opacity: 0;
}
.lazy-loaded {
    -webkit-transition: opacity 0.7s;
    -moz-transition: opacity 0.7s;
    -ms-transition: opacity 0.7s;
    -o-transition: opacity 0.7s;
    transition: opacity 0.7s;
    opacity: 1;
}

/* Twitter box layout
------------------------------------------------------------------- */

.mytweets iframe {
    width: 100%;
}

/* No underline for image with links
------------------------------------------------------------------- */

.image-link
{
  text-decoration: none;
}

/* tag box from So Simple Theme by Michael Rose.
------------------------------------------------------------------- */

.tag-box{list-style:none;margin:0;padding:4px 0;overflow:hidden}.tag-box:after{content:"";display:table;clear:both}.tag-box.inline li{float:left;font-size:14px;font-size:0.875rem;line-height:1.71429;margin-bottom:24px;margin-bottom:1.5rem;line-height:2.5}.tag-box a{padding:4px 6px;margin:2px;background-color:#e6e6e6;border-radius:4px;text-decoration:none}.tag-box a span{vertical-align:super;font-size:10px;font-size:0.625rem;line-height:2.4;margin-bottom:24px;margin-bottom:1.5rem}


.post-list{margin:0;padding:0;list-style-type:none}.post-list li{padding:8px 0;border-bottom:1px solid #ccc;border-bottom:1px solid rgba(0,0,0,0.1);font-size:18px;font-size:1.125rem;line-height:1.33333;margin-bottom:0}.post-list li:after{content:"";display:table;clear:both}.post-list li>a{border-bottom-width:0}.post-list a>span{float:right}.post-list .entry-date{font-size:14px;font-size:0.875rem;line-height:1.71429;margin-bottom:0;text-transform:uppercase;display:none}@media screen and (min-width: 48em){.post-list .entry-date{display:inline}}.post-list .excerpt{display:block;float:none;font-size:14px;font-size:0.875rem;line-height:1.14286;margin-bottom:0}@media screen and (min-width: 48em){.post-list .excerpt{width:70%}}@media screen and (min-width: 62.5em){.post-list .excerpt{width:60%}}

/* tag box from Uber blog by Tobias Sjösten
------------------------------------------------------------------- */

.tags-ts {
  list-style: none;
  padding: 0;
  text-align: justify; }

.tags-ts li {
  display: inline-block;
  margin: 0 25px 25px 0; }

.tags-ts li:last-child {
  margin-right: 0; }

.tag-ts {
  background: #ddd;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  box-shadow: 1px 1px 2px #ccc;
  -moz-box-shadow: 1px 1px 2px #ccc;
  -webkit-box-shadow: 1px 1px 2px #ccc;
  color: #888;
  padding: 2px 8px 2px 8px;
  text-decoration: none; }

.tag-ts:visited {
  color: #888; }

.tag-ts:hover {
  background: #ccc;
  color: #777; }

/* sliding tag cloud by Thibaut Courouble at cssflow.com
------------------------------------------------------------------- */

.slidetags {
  zoom: 1;
  list-style-type: none;
}
.slidetags:before, .slidetags:after {
  content: '';
  display: table;
}
.slidetags:after {
  clear: both;
}
.slidetags li {
  position: relative;
  float: left;
  margin: 0 0 18px 25px;
}
.slidetags li:active {
  margin-top: 1px;
  margin-bottom: 7px;
}
.slidetags li:after {
  content: '';
  z-index: 2;
  position: absolute;
  top: 10px;
  right: -2px;
  width: 5px;
  height: 6px;
  opacity: .95;
  background: #eb6b22;
  border-radius: 3px 0 0 3px;
  -webkit-box-shadow: inset 1px 0 #99400e;
  box-shadow: inset 1px 0 #99400e;
}
.slidetags a, .slidetags span {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.slidetags a {
  height: 26px;
  line-height: 23px;
  padding: 0 9px 0 8px;
  font-size: auto;
  color: #555;
  text-decoration: none;
  text-shadow: 0 1px white;
  background: #fafafa;
  border-width: 1px 0 1px 1px;
  border-style: solid;
  border-color: #dadada #d2d2d2 #c5c5c5;
  border-radius: 3px 0 0 3px;
  background-image: -webkit-linear-gradient(top, #fcfcfc, #f0f0f0);
  background-image: -moz-linear-gradient(top, #fcfcfc, #f0f0f0);
  background-image: -o-linear-gradient(top, #fcfcfc, #f0f0f0);
  background-image: linear-gradient(to bottom, #fcfcfc, #f0f0f0);
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.7), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.7), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.slidetags a:hover span {
  padding: 0 7px 0 6px;
  max-width: 40px;
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.slidetags span {
  position: absolute;
  top: 1px;
  left: 100%;
  z-index: 2;
  overflow: hidden;
  max-width: 0;
  height: 24px;
  line-height: 21px;
  padding: 0 0 0 2px;
  color: white;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
  background: #eb6b22;
  border: 1px solid;
  border-color: #d15813 #c85412 #bf5011;
  border-radius: 0 2px 2px 0;
  opacity: .95;
  background-image: -webkit-linear-gradient(top, #ed7b39, #df5e14);
  background-image: -moz-linear-gradient(top, #ed7b39, #df5e14);
  background-image: -o-linear-gradient(top, #ed7b39, #df5e14);
  background-image: linear-gradient(to bottom, #ed7b39, #df5e14);
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-transition-property: padding, max-width;
  -moz-transition-property: padding, max-width;
  -o-transition-property: padding, max-width;
  transition-property: padding, max-width;
}


/* search box by Justin James, author:digitaldrummerj and @paulaborowska
-------------------------------------------------------------------------- */

.searchbox{
  margin: 100px auto;
  width: 335px;
  height: 50px;
}

.searchcont{
  width: 335px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.searchcont input#searchString{
  width: 335px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 12pt;
  float: left;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;
}

.searchcont input#searchString::-webkit-input-placeholder {
   color: #65737e;
}
 
.searchcont input#searchString:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.searchcont input#searchString::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.searchcont input#searchString:-ms-input-placeholder {  
   color: #65737e;  
}

.searchcont .searchicon{
  position: absolute;
  top: 50%;
  margin-left: 60px;
  margin-top: 10px;
  z-index: 1;
  color: #4f5b66;
}

.searchcont input#searchString:hover, .searchcont input#searchString:focus, .searchcont input#searchString:active{
    outline:#0a000a;
    background: #ffffff;
  }

/* Footer: search box by Justin James, author:digitaldrummerj and @paulaborowska
-------------------------------------------------------------------------- */

.searchbox2{
  margin: 80px auto;
  width: 80px;
  height: 35px;
}

.searchcont2{
  width: 80px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.searchcont2 input#searchString2{
  width: 80px;
  height: 35px;
  background: #313131;
  border: 2px ridge #7e7e7e;
  font-size: 11pt;
  float: left;
  color: #262626;
  padding-left: 5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  color: #f8f05d;
 
  -webkit-transition: width .55s ease;
  -moz-transition: width .55s ease;
  -ms-transition: width .55s ease;
  -o-transition: width .55s ease;
  transition: width .55s ease;
}

.searchcont2 input#searchString2::-webkit-input-placeholder {
   color: #65737e;
}
 
.searchcont2 input#searchString2:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.searchcont2 input#searchString2::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.searchcont2 input#searchString2:-ms-input-placeholder {  
   color: #65737e;  
}

.searchcont2 input#searchString2:focus, .searchcont2 input#searchString2:active{
  outline:3px groove #0a000a;
  width: 80px;
  background: #65737e;
}
 
.searchcont2:hover input#searchString2{
  width: 80px;
  outline:3px groove #65737e;
}
